<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new chats</title>

    <link rel="stylesheet" type="text/css" href="/style/new.css" />
  </head>
  <body>
    <form method="POST" action="/chats" class="container">
      <label for="name">from:</label>
      <input required type="text" id="name" name="from" />

      <label for="name">to:</label>
      <input required type="text" id="name" name="to" />

      <label for="message">Message:</label>
      <textarea required id="message" name="msg" rows="4"></textarea>
      <button type="submit">create</button>
    </form>
  </body>
</html>
